*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/screenshots/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea_modules/
*.log
*.hprof
Thumbs.db
*.keystore
!gradle/wrapper/gradle-wrapper.jar
/app/build
/app/release
