*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea_modules/
*.log
*.hprof
*.svg
*.png
*.jpg
*.jpeg
*.mp4
*.mp3
*.json
*.xml
*.proto
Thumbs.db
*.keystore
!gradle/wrapper/gradle-wrapper.jar
/app/build
/app/release
